@font-face {
  font-family: "spacemono";
  src: url("../../fonts/spacemono-regs.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "spacemono";
  src: url("../../fonts/spacemono-bold.ttf") format("truetype");
  font-weight: bold;
}

::selection {
    background:#81F55F;
}

body {
    border-color:#FF3079;
    background-color:#CED7D4;

}
header,
h2
 {
    font-family: "spacemono",monospace;
    color:#FF3079;
}
a {
    color:#FF3079;
}
a:hover,
a:focus,
a:active {
    color:#000;
}