@font-face {
  font-family: 'spacemono';
  font-weight: normal;
  src: url('/_assets/fonts/spacemono-regs.ttf') format('truetype');
}

@font-face {
  font-family: 'spacemono';
  font-weight: bold;
  src: url('/_assets/fonts/spacemono-bold.ttf') format('truetype');
}

::selection {
  background: #81f55f;
}

body {
  background-color: #ced7d4;
  border-color: #ff3079;
}

header,
h2 {
  color: #ff3079;
  font-family: 'spacemono', monospace;
}

a {
  color: #ff3079;
}

a:hover,
a:focus,
a:active {
  color: #000;
}
