body {
  background: #e86a73;
  background: #d6f264;
  font-family: monospace;
  font-size: 1.5rem;
  font-smooth: never;
  -webkit-font-smoothing: none;
  text-transform: uppercase;
}

h1 {
  border-bottom: 3px dashed #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

a.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 1em;
  text-decoration: none;
}

a.icon:hover {
  text-decoration: underline;
}

a.file {
  background-image: url('./_images/icon-file.gif');
}

a.up {
  background-image: url('./_images/icon-back.gif');
  padding-bottom: 10px;
}
