<!doctype html>
<html lang="en">
  <head>
    {% include 'shared/site-head.njk' %}
  </head>

  <body class="{{ bodyClass }}" >
    {% include "shared/header.njk" %}
    {{ content | safe }}
    {% include "shared/footer.njk" %}
  </body>
</html>



