---
layout: zine
---
<section>
  <p>editorial</p>
</section>

<section>
  {% releaseDeets
    artist="F&eacute;mina",
    image="assets/images/zine/apr-19/femina.jpg",
    label="F&eacute;mina",
    title="Perlas & Conchas",
    url="https://femina.bandcamp.com/album/perlas-conchas",
    year="2019"
  %}

  <p>words</p>

  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=228884389/size=small/bgcol=ffffff/linkcol=63b2cc/artwork=none/track=1357990532/transparent=true/" seamless></iframe>

</section>
