---
description: A bumper ZINE issue; a pure, smutty love of bangers
layout: zine
pageDate: 2019-05-01
permalink: /zines/2019/may/
title: Zine May &rsquo;19
coverFormat: gif
---
<div class="cover eins"></div>

<article>
  <section>
    <p>This issue was a mission. Therefore, no lofty comment on the state of anything in particular. Just a pure, smutty love of bangers. Here&rsquo;s a few  thoughts off the top of my head:</p>

    <ul>
      <li>Keep those anti-facist milkshakes flying</li>
      <li>Sourdough and sauerkraut are best mates</li>
      <li>Use suncream</li>
      <li>Linen came back in and swiftly went out again</li>
      <li>Dance or Smile on underground transport</li>
      <li>Grow your own</li>
    </ul>

    <p>Peace x</p>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://kolidababo.bandcamp.com/album/kolida-babo">
          <img src="./_images/kolida.jpg" alt="Cover artwork of Kolida Babo by Kolida Babo">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://kolidababo.bandcamp.com/album/kolida-babo">Kolida Babo<br><em>Kolida Babo</em></a>
        </h3>

        <p class="meta">MIC 2019</p>
      </div>
    </div>

    <p>Kolida Babo are an Armenian duduk-playing duo from Greece. They weave around each other, all alluring and hypnotic, inviting some friends to come to the party with various Moog and Roland machines. Its melancholy sensuality stirs something inside; a glimpse at something rare and ancient.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1123917435/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1404114091/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://ekitisound.bandcamp.com/album/abeg-no-vex">
          <img src="./_images/abegnovex.jpg" alt="Cover artwork of Abeg No Vex by Ekiti Sound">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://ekitisound.bandcamp.com/album/abeg-no-vex">Ekiti Sound<br><em>Abeg No Vex</em></a>
        </h3>

        <p class="meta">Crammed Discs 2019</p>
      </div>
    </div>

    <p>Abeg No Vex is described as a connection between London and Lagos, but it&rsquo;s not until you actually sit down with the record that you realise how on point this is. It takes a lot from both locations; grime-like sparsity in some places, afrobeat rhythms, cut up vocal samples, Burial-reverb-haze. The odd breakout into cadences that resemble 2-step sit next to African ritual dance movements, and switches between Nigerian slang and London English happen frequently. There&rsquo;s banging house, dancehall, a bit of jungle, and nods to other genres that make it feel collage-like. And like any good collage, it&rsquo;s hard to make out the component parts -- it becomes a new form, independent of its inputs. Play this one loud, it sounds absolutely marvelous.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1519491455/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=303895472/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://p-a-n.bandcamp.com/album/kuro-ost">
          <img src="./_images/kuro.jpg" alt="Cover artwork of Kuro (OST) by Tujiko Noriko">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://p-a-n.bandcamp.com/album/kuro-ost">Tujiko Noriko<br><em>Kuro (OST)</em></a>
        </h3>

        <p class="meta">PAN 2019</p>
      </div>
    </div>

    <p>Kuro is a film about a Japanese woman living in Paris with her paraplegic lover, reminiscing about their time together in Japan. Tujiko Noriko portrays the woman in the film and composes the soundtrack, which is an expressive and haunting piece of neo-classical ambience. A deep sense of intimacy can be felt from the first keyboard notes, tentatively evoking the melancholy and tenderness of the film. A wonderful piece of in its own right, it&rsquo;s since turned us on to the rest of Tujiko&rsquo;s music, of which there is plenty to discover.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=828512655/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2488598314/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://khidja.bandcamp.com/album/in-the-middle-of-the-night">
          <img src="./_images/khidja.jpg" alt="Cover artwork of In The Middle Of The Night by Khidja">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://khidja.bandcamp.com/album/in-the-middle-of-the-night">Khidja<br><em>In The Middle Of The Night</em></a>
        </h3>

        <p class="meta">DFA 2019</p>
      </div>
    </div>

    <p>The Bucharest duo turn up the heat for their new EP on DFA. Their slow-mo techno sludge on labels such as Malka Tuti and Emotional Rescue has kept us attentive over the past few years, but this time they speed things up a little. Retaining that exotic Eastern twist, these sinister torpedos pulse and pound right into the corners of the darkest dancefloors. They shuffle in odd, paranoid steps. When an apprehensive sample exclaims <em>&ldquo;everything&rsquo;s going to be alright&rdquo;</em>, I&rsquo;m the opposite of reassured. </p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3872311707/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2983858936/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://claremont56.bandcamp.com/album/salmon-spungcake">
          <img src="./_images/claremont.jpg" alt="Cover artwork of Salmon Spungcake by Bison">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://claremont56.bandcamp.com/album/salmon-spungcake">Bison<br><em>Salmon Spungcake Remixes</em></a>
        </h3>

        <p class="meta">Claremont 56 2019</p>
      </div>
    </div>

    <p>It&rsquo;s been revenge-pissed on by the cat and has taken a bit of a battering over the years, but that <a href="https://bison56.bandcamp.com/album/travellers">first Bison album</a> is still a jewel in my collection. It never felt like it was going to be a particularly prolific project, so it&rsquo;s always nice to have material by the band resurfaced and remixed, particularly after the sad loss of two of the founders Holger Czukay (a personal hero of mine) and Ursula Kloss. These remixes by Idjut Boy Conrad McDonnell have his signature space-dub-throb all over them. One is more direct than the other, but they&rsquo;re both pretty out there, pushing that lazily seductive vocal by Ursula way down into the depths of echo, surfacing dreamy chords and cosmic drones only occasionally. Get in the pool.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3241054254/size=small/bgcol=ffffff/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2459525085/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://femina.bandcamp.com/album/perlas-conchas">
          <img src="./_images/femina.jpg" alt="Cover artwork of Perlas & Conchas by F&eacute;mina">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://femina.bandcamp.com/album/perlas-conchas">F&eacute;mina<br><em> Perlas & Conchas</em></a>
        </h3>

        <p class="meta">F&eacute;mina 2019</p>
      </div>
    </div>

    <p>Alluring harmonies welcome me to a blissful album by Argentinian group F&eacute;mina. Moving between soulful shuffles, electronic lullabies and latin-infused hip hop, the record touches on variety of styles. Producer Quantic provides a backbone and ensures cohesion whilst I head out of the city, a passenger in a top-down convertible. Seat back, I&rsquo;m flying towards the ocean, all stresses peeling off me, ribbons in the wind. It&rsquo;s going to be a dreamy weekend. Also, Iggy Pop.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=228884389/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1357990532/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://itinerantdub.bandcamp.com/album/human-emulation">
          <img src="./_images/itinerant.jpg" alt="Cover artwork of Human Emulation by Itinerant Dubs">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://itinerantdub.bandcamp.com/album/human-emulation">Itinerant Dubs<br><em>Human Emulation</em></a>
        </h3>

        <p class="meta">Itinerant Dubs 2019</p>
      </div>
    </div>

    <p>Right up my street this one. A dubstep-dark EP, raw and potent in its modesty. There&rsquo;s a swing that gives the tracks a lively bounce, but mostly it&rsquo;s proper get low and nodyahead stuff. A slow-mo FWD night; play well before dawn.</p>

    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/591994563&color=%234f514f&inverse=true&auto_play=false&show_user=false"></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://nouvelleambiance.bandcamp.com/album/wolf-m-ller-meets-the-nile-project">
          <img src="./_images/wolf.jpg" alt="Cover artwork of Wolf M&uuml;ller meets the Nile Project">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://nouvelleambiance.bandcamp.com/album/wolf-m-ller-meets-the-nile-project">Wolf M&uuml;ller meets the Nile Project</a>
        </h3>

        <p class="meta">Nouvelle Ambiance 2019</p>
      </div>
    </div>

    <p>Wolf M&uuml;ller in another storming collaboration, this time with  percussionists and vocalists from Egyptian and Kenya. The group create a selection of mesmerising opiate tracks, combining synthy chugs and tribal percussion. The EP rolls along patiently until it slowly absorbs you. If you were digging our first <a href="https://soundcloud.com/pushkinsprefers/dj-ball-haulage-presents-spacedubdanceonthebeach-vol-1">Spacedubdanceonthebeach mix</a> you&rsquo;ll enjoy this.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3201566107/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=860578324/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://nottebrigante.bandcamp.com/album/general-p-d-c-beesmunt-soundsystem-amazon-dub">
          <img src="./_images/amazondub.jpg" alt="Cover artwork of Amazon Dub by General P.D.C">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://nottebrigante.bandcamp.com/album/general-p-d-c-beesmunt-soundsystem-amazon-dub">General P.D.C<br><em>Amazon Dub (with Beesmunt Soundsystem remix)</em></a>
        </h3>

        <p class="meta">Notte Brigante 2019</p>
      </div>
    </div>

    <p>Both of these are tracks ace. The first features a stoic bassline and a patient build up; a dub style that lies firmly in 1980s On-U-Sound territory. And then bam! a surprise choppy 90s breakbeat kicks in and lifts the roof off. The Beesmunt Soundsystem remix adds some great trippy cut-n-paste vocals and a submerged bass rhythm to sink into. Fantastisch.</p>

    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/584404494&color=%238000ff&inverse=true&auto_play=false&show_user=false"></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://yesmeansmaybe.bandcamp.com/album/yes002-stevie-whispers-donkey-milk">
          <img src="./_images/donkey.jpg" alt="Cover artwork of Stevie Whisper&rsquo;s Donkey Milk by Stevie Whisper">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://yesmeansmaybe.bandcamp.com/album/yes002-stevie-whispers-donkey-milk">Stevie Whisper<br><em>Stevie Whisper&rsquo;s Donkey Milk</em></a>
        </h3>

        <p class="meta">Yes Belgrade 2019</p>
      </div>
    </div>

    <p>Yes, Belgrade! Two releases in and this label is already smashing it. This time label owner Stevie Whisper makes an EP of dirgey nopunk-electro sludge. It&rsquo;s so bawdy and evocative of sweat-dripping ceilings in industrial basements. Love it.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=41494113/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=976389785/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://cykadaband.bandcamp.com/album/cykada">
          <img src="./_images/cykada.jpg" alt="Cover artwork of Cykada by Cykada">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://cykadaband.bandcamp.com/album/cykada">Cykada<br><em>Cykada</em></a>
        </h3>

        <p class="meta">Astigmatic Records 2019</p>
      </div>
    </div>

    <p>Thick and audacious jazz futurist fusion! Travel into outer space with urgency on this cosmic shuttlecock. It&rsquo;s  psychedelic and if your audience are properly tuned-in, very dancefloor-friendly. Another London jazz belter. Calm down, capital, we can hear you.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4135514475/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2836183563/transparent=true/" seamless></iframe>
  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://wrwtfww.com/album/re-sort">
          <img src="./_images/resort.jpg" alt="Cover artwork of Re.sort by Sora">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://wrwtfww.com/album/re-sort">Sora<br><em>Re.sort</em></a>
        </h3>

        <p class="meta">WRWTFWW 2019</p>
      </div>
    </div>

    <p>We Release Whatever the Fuck We Want Records do not mess around. The quality of releases is only matched by the frequency; they&rsquo;re a very prolific label which sometimes can be hard to keep up with, but they are always worth the extra effort. This lovely little leftfield gem was a CD-only affair from 2003 until recently rereleased. It twinkles and shimmers and floats around the room, taking various parts of you with it at different times. Texturally gorgeous, the breezy vibes betray very little of <a href="https://www.youtube.com/watch?time_continue=190&v=ZhPUhZCTPuE">Takeshi Kurosawa's techno-banger past</a>, and have been instrumental in brightening up this very damp period of summer. Delightful.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2802316757/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=4166562026/transparent=true/" seamless></iframe>
  </section>

  <section>

    <div class="release-deets">
      <div class="img">
        <a href="https://rozaterenzi.bandcamp.com/album/lets-ride">
          <img src="./_images/roza.jpg" alt="Cover artwork of Let&rsquo;s Ride by Roza Terenzi">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://rozaterenzi.bandcamp.com/album/lets-ride">Roza Terenzi<br><em>Let&rsquo;s Ride</em></a>
        </h3>
        <p class="meta">Dekmantel 2019</p>
      </div>
    </div>

    <p>Roza Terenzi has been smashing it over the past few years. In 2018 she released records on a bunch of different labels, including many favourites like Butter Sessions &amp; Planet Euphorique. Her two most recent EPs have been fabulous, this one on Dekmantel and also <a href="https://soundcloud.com/bizarro-recs/roza-terenzi-worldwide-ep-bzr001-previews">Worldwide on Bizarro</a>. Forward-thinking electro with just a few nods to the past, presented in a range of tempos and moods. Percussive breaks meet funky muddied grooves under light touch hi-hats and smudgy drum-delays. There&rsquo;s a sense of space and restraint that recalls those 90s tracks that have stood the test of time. Right ravey.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1360016803/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1123325481/transparent=true/" seamless></iframe>

  </section>

  <section>

    <div class="release-deets">
      <div class="img">
        <a href="https://flug8.bandcamp.com/album/hypnotische">
          <img src="./_images/flug8.jpg" alt="Cover artwork of Hypnotische by Flug 8">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://flug8.bandcamp.com/album/hypnotische">Flug 8<br><em>Hypnotische</em></a>
        </h3>
        <p class="meta">Ransom Note 2019</p>
      </div>
    </div>

    <p>Flug 8 is an alias of Daniel Herrmann, who used to be an art director working with the Robert Johnson/Playhouse/Klang Elektronik family in Frankfurt. Surrounded by all that creative energy, the whirlwind combination of parties, drugs and sleep depravation led to burn out and eventually homelessness. The extreme highs and lows are reflected in this record of dubbed out electro-paranoiac repetitions. I&rsquo;m listening to this at 4am after a few hours of broken sleep and I feel I&rsquo;m being watched. The tension is occasionally broken with lovely interludes, analogue-hazed dreamscapes or some growling abrasion. <em>&lsquo;Walls&rsquo;</em> in particular has me floating weightless; the beauty of Mono Girl&rsquo;s vocal is celestial. Wunderbar.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=225119118/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=3529891222/transparent=true/" seamless></iframe>

  </section>

  <section>

    <div class="release-deets">
      <div class="img">
        <a href="https://rubyrushton.bandcamp.com/album/ironside">
          <img src="./_images/ironside.jpg" alt="Cover artwork of IRONSIDE by Ruby Rushton">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://rubyrushton.bandcamp.com/album/ironside">Ruby Rushton<br><em>IRONSIDE</em></a>
        </h3>
        <p class="meta">22a 2019</p>
      </div>
    </div>

    <p>22a label boss Tenderlonious corrals his band around him for ten cuts that flirt with both modern and traditional timbres and structures. I love the fact that this was made in the old-timer way, as a live band during just two days of recording sessions. This alone speaks volumes for the amount of talent on show, but it also refers to a healthy DIY ethic at work in the London jazz scene. Ideas are quick to be recorded and published rather than laboured over too intensively. Which isn&rsquo;t to say it feels rushed or unpolished, it just feels like exactly how a jazz band should be heard. As many unexpected turns and as there are expected. Great record.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1492589511/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2849290915/transparent=true/" seamless></iframe>

  </section>

  <section>

    <div class="release-deets">
      <div class="img">
        <a href="https://music-from-memory.bandcamp.com/album/nothing-is-objective">
          <img src="./_images/suso.jpg" alt="Cover artwork of Nothing Is Objective by Suso Saiz">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://music-from-memory.bandcamp.com/album/nothing-is-objective">Suso S&aacute;iz<br><em>Nothing Is Objective</em></a>
        </h3>
        <p class="meta">Music From Memory 2019</p>
      </div>
    </div>

    <p>New age pioneer Suso S&aacute;iz returns to ever-dependable Music from Memory for his second album (excluding that initial compilation) on the label. It&rsquo;s also his 24th-ish solo record and one of his finest. A member of Eno&rsquo;s True Ambient club, in that you can either tune fully into and find yourself dissolved in the wistful hope-drones, or treat it truly as background music to enhance your environment. The variety of timbre, texture and mood is outstanding but it remains a cohesive, expansive piece of work.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3672984810/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1627370690/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://roziplain.bandcamp.com/album/what-a-boost">
          <img src="./_images/boost.jpg" alt="Cover artwork of What A Boost by Rozi Plain">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://roziplain.bandcamp.com/album/what-a-boost">Rozi Plain<br><em>What A Boost</em></a>
        </h3>
        <p class="meta">Memphis Industries 2019</p>
      </div>
    </div>

    <p>My first introduction to Rozi Plain&rsquo;s music and I have to wonder how the previous four albums passed me by. It&rsquo;s downtempo folk that softens my edges, pacifying the day&rsquo;s cumulative intensities. Get cozy in your armchair and let the initial humility give way to deeper layers with repeat listens. I&rsquo;ve always valued the long lasting relationships I have with records that slowly reveal themselves over time in this way. Dead nice.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3672984810/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1627370690/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://aboveboarddistribution.bandcamp.com/album/30-years-of-rage-part-1">
          <img src="./_images/rage.jpg" alt="Cover artwork of 30 Years of Rage Part 1 by Fabio &amp; Grooverider">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://aboveboarddistribution.bandcamp.com/album/30-years-of-rage-part-1">Fabio &amp; Grooverider<br><em>30 Years of Rage Part 1</em></a>
        </h3>
        <p class="meta">Above Board Distribution 2019</p>
      </div>
    </div>

    <p>Ooft! Legends Fabio &amp; Grooverider dig into the history of one of this tiny island&rsquo;s proudest musical moments. Back to where the British dance sound really started to establish itself; a proud little melting pot of people and sounds from all over the world. I love that so much of our urban music still carries this spirit today. There&rsquo;s four parts to this compilation; it&rsquo;s a beast of bangers! Breaky, funky, dubby, dizzy, gooey. Time has revealed a wonderful sense of naivety and purity in many of these tracks; I am sure they&rsquo;ll sound as poignant after three decades more.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4151208889/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=4252617465/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://aotns.bandcamp.com/album/the-mage">
          <img src="./_images/mage.jpg" alt="Cover artwork of The Mage by Greg Foat">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://aotns.bandcamp.com/album/the-mage">Greg Foat<br><em>The Mage</em></a>
        </h3>
        <p class="meta">Athens of the North 2019</p>
      </div>
    </div>

    <p>It&rsquo;s ok to feel a wee bit magic listening to Greg Foat&rsquo;s magnetic new record. It&rsquo;s music perfect for cooking around a fire with friends in the woods and fields this summer, ritual-dancing as the stars emerge. Beware, for there may be mushrooms.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1068342510/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2889780638/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://secretsundaze.bandcamp.com/album/joe-claussell-mixtape">
          <img src="./_images/mixtape.jpg" alt="Cover artwork of Mixtape by Joe Claussell">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://secretsundaze.bandcamp.com/album/joe-claussell-mixtape">Joe Claussell<br><em>Mixtape</em></a>
        </h3>
        <p class="meta">secretsundaze 2019</p>
      </div>
    </div>

    <p>NYC legendary dance-music-man stitches together a beautiful mixtape of soul-soothing piano lullabies, summer-haze laid back boogie and sacred tribal jazz. Pair with the aforementioned Greg Foat LP for a spiritual evening under the stars.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=502784445/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=3810339342/transparent=true/" seamless></iframe>

  </section>

<div class="cover zwei"></div>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://principediscos.bandcamp.com/album/carregando-a-vida-atra-s-das-costas">
          <img src="./_images/puto.jpg" alt="Cover artwork of Carregando A Vida Atr&aacute;s Das Costas by Puto Tito">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://principediscos.bandcamp.com/album/carregando-a-vida-atra-s-das-costas">Puto Tito<br><em>Carregando A Vida Atr&aacute;s Das Costas</em></a>
        </h3>
        <p class="meta">Pr&iacute;ncipe 2019</p>
      </div>
    </div>

    <p>I&rsquo;ve been meaning to visit Lisbon for a while now, mostly because of this Pr&iacute;ncipe label whose every release has been absolutely killer. This time it&rsquo;s another (unknown) young bedroom producer sharing some of their early experiments. The short vignettes are sketches, blasts and fragments of ideas, the sound of an artist figuring out their craft. There&rsquo;s an inherent rawness to the production, which follows a percussive, no-rules approach. Calculator blips and indecipherable vocal samples. The longer, more immersive bits are refreshing, such as the slow trip of <em>&lsquo;Carregando A Vida Atrás Das Costas&rsquo;</em>. The buy-on-sight label adds another to my wantlist.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2949694875/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=3046329393/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://firecrackerrecordings.bandcamp.com/album/firec028lp-time">
          <img src="./_images/georgia.jpg" alt="Cover artwork of Time by Georgia">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://firecrackerrecordings.bandcamp.com/album/firec028lp-time">Georgia<br><em>Time</em></a>
        </h3>
        <p class="meta">Firecracker 2019</p>
      </div>
    </div>

    <p>This record promises to help unlock ones inner portals, which I wasn&rsquo;t  really sure I needed assistance with, because now I can&rsquo;t close the fucking things. A ritualistic, polyrhythmic trip into god knows what or when and halfway through I&rsquo;m lusting after Paul Simon or something equally as familiarly benign. Flipping further k-hole inwards with each song, I breathe a sigh of relief as I reach the end of the last track, knowing full well that I&rsquo;ll be tuning in again tomorrow afternoon.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3195582209/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1682612597/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://craigleon.bandcamp.com/album/anthology-of-interplanetary-folk-music-vol-2-the-canon">
          <img src="./_images/craigleon.jpg" alt="Cover artwork of
Anthology of Interplanetary Folk Music Vol. 2: The Canon by Craig Leon">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://craigleon.bandcamp.com/album/anthology-of-interplanetary-folk-music-vol-2-the-canon">Craig Leon<br><em>
Anthology of Interplanetary Folk Music Vol. 2: The Canon</em></a>
        </h3>
        <p class="meta">RVNGIntl. 2019</p>
      </div>
    </div>

    <p>More grandiose space-traveller lore from Craig Leon, in a similar vein to the classique <a href="https://www.youtube.com/watch?v=WTTaImeMubo">Nommos</a>. Close your eyes and feel those tribal forces gathering mass and momentum. There&rsquo;s a grand ancient story being told and if you need to know the plot, put the pages of your favourite sci-fi epic close to your ear. It may sound like this. (It may not).</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4033875273/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=269303564/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://visiblecloaks.bandcamp.com/album/frkwys-vol-15-serenitatem">
          <img src="./_images/frkwys15.jpg" alt="Cover artwork of FRKWYS Vol. 15: serenitatem by Visible Cloaks, Yoshio Ojima &amp; Satsuki Shibano">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://visiblecloaks.bandcamp.com/album/frkwys-vol-15-serenitatem">Visible Cloaks, Yoshio Ojima &amp; Satsuki Shibano<br><em>FRKWYS Vol. 15: serenitatem</em></a>
        </h3>
        <p class="meta">RVNGIntl. 2019</p>
      </div>
    </div>

    <p>Also on RVNGIntl, the always-excellent FRKWYS series continues in its utopian, otherworldy style. And my gosh is this one dreamy. Headphones are a must, as is watching the animated <a href="https://www.youtube.com/watch?v=JRxDysnjlzs">video for <em>&lsquo;Stratum&rsquo;</em></a>. Amazing.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3480203842/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=3786334745/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://isleofjura.bandcamp.com/album/peace-harmony">
          <img src="./_images/peace.jpg" alt="Cover artwork of Peace &amp; Harmony by Harry Mosco">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://isleofjura.bandcamp.com/album/peace-harmony">Harry Mosco<br><em>Peace &amp; Harmony</em></a>
        </h3>
        <p class="meta">Isle of Jura 2019</p>
      </div>
    </div>

    <p>Another month, another essential Isle of Jura record. This time it&rsquo;s a reissue of Harry Mosco&rsquo;s (of the legendary Funkees) third solo record. It&rsquo;s a wonderfully balanced record; a couple of huge disco floor-fillers, a couple of slower ballads and most interestingly a couple of dub-infused soul soothers. Nuff pleasant.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1020877584/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=837380277/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://boringmachines.bandcamp.com/album/von-tesla-ganzfeld">
          <img src="./_images/ganzfeld.jpg" alt="Cover artwork of Ganzfeld by Von Tesla">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://boringmachines.bandcamp.com/album/von-tesla-ganzfeld">Von Tesla<br><em>Ganzfeld</em></a>
        </h3>
        <p class="meta">Boring Machines 2019</p>
      </div>
    </div>

    <p><em>&ldquo;Ganzfeld is a phenomenon of perception caused by exposure to an unstructured, uniform stimulation field. This is mostly the description used when talking about visual perceptions and the loss of depth of field and dimensional perception.&rdquo;</em> This is some gnarly chaos. Anarchic, cacophonous alien soundscapes are the order of the day. Seemingly randomised stabs and snarls disconcert but somehow entrance, too. It is wholly unfamiliar, which is perhaps its appeal; like observing alien life for the first time, it&rsquo;s transfixing. It doesn&rsquo;t really let up for the whole 130 minutes, so hats off if you make it through in one sitting. </p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3405430825/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=61934223/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://de-bons-en-pierre.bandcamp.com/album/ep-no-1">
          <img src="./_images/debons.jpg" alt="Cover artwork of EP No. 1 by De-Bons-en-Pierre">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://de-bons-en-pierre.bandcamp.com/album/ep-no-1">De-Bons-en-Pierre<br><em>EP No.1 &amp; No. 2</em></a>
        </h3>
        <p class="meta">Dark Entries 2019</p>
      </div>
    </div>

    <p>Gloopy, grimy, gungey techno/electro on this pair of EPs on Dark Entries. One on Sewage green, the other Interactive orange. Love good colour names.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2452669416/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2081901337/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://insanlar.bandcamp.com/album/demedim-mi">
          <img src="./_images/insanlar.jpg" alt="Cover artwork of Demedim Mi by Insanlar">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://insanlar.bandcamp.com/album/demedim-mi">Insanlar<br><em>Demedim Mi</em></a>
        </h3>
        <p class="meta">Rush Hour 2019</p>
      </div>
    </div>

    <p>The <a href="https://www.youtube.com/watch?v=wcaCRcb4l7c">first Insanlar track</a> was a favourite at afterparties when I used to play it late into the morning, sun already high in the sky, minds fairly pickled. As with the first, the group&rsquo;s second track twists and turns arcanely through traditional Turkish folk and acid-tinged techno. Slow, sexy and esoteric. There&rsquo;s a rich spirituality within the 45-minute meander, which I can&rsquo;t wait to further familiarise myself with, sun high and mind pickled.</p>

    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/567059442&color=%23000000&inverse=true&auto_play=false&show_user=true"></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://bassagendarecordings.bandcamp.com/album/atomised-remixed">
          <img src="./_images/atomised.jpg" alt="Cover artwork of Atomised Remixed by Nomenklat&uuml;r">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://bassagendarecordings.bandcamp.com/album/atomised-remixed">Nomenklat&uuml;r<br><em>Atomised Remixed</em></a>
        </h3>
        <p class="meta">Bass Agenda 2019</p>
      </div>
    </div>

    <p>One of the best British electro labels puts out some excellent French electro business, all full of bubbles and bounces. The remixes range from ethereal to paranoid, all retaining some of that eerie vibe from the <a href="https://bassagendarecordings.bandcamp.com/album/atomised">original album</a>.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3929937427/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2614508646/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://heladonegro.bandcamp.com/album/this-is-how-you-smile">
          <img src="./_images/helado.jpg" alt="Cover artwork of This Is How You Smile by Helado Negro">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://heladonegro.bandcamp.com/album/this-is-how-you-smile">Helado Negro<br><em>This Is How You Smile</em></a>
        </h3>
        <p class="meta">RVNGIntl. 2019</p>
      </div>
    </div>

    <p>Our third release on RVNGIntl. this issue! Definitely a label For These Times. Roberto Carlos Lange&rsquo;s fourth album as Helado Negro is an atmospheric, intimate collection of folk songs centering around Latin pride. It&rsquo;s quietly political, evoking the struggle against racial violence. &ldquo;That brown won&rsquo;t go/Brown just glows.&rdquo; There&rsquo;s a weary positivity at play that you can&rsquo;t help but sink into and somehow be reassured that things will be ok. A powerful album.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3822467491/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2951338350/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://foommusic.bandcamp.com/album/you-laugh-at-my-face-tobias-version-watch-the-flash">
          <img src="./_images/laugh.jpg" alt="Cover artwork of You Laugh At My Face (Tobias. Version) / Watch The Flash by Patrick Cowley &amp; Jorge Socarras / Half Hawaii">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://foommusic.bandcamp.com/album/you-laugh-at-my-face-tobias-version-watch-the-flash">Patrick Cowley &amp; Jorge Socarras / Half Hawaii<br><em>You Laugh At My Face (Tobias. Version) / Watch The Flash</em></a>
        </h3>
        <p class="meta">Foom 2019</p>
      </div>
    </div>

    <p>I always thought <a href="https://www.youtube.com/watch?v=N_mbPiCFD-4">this Patrick Cowley & Jorge Socarras jam</a> could do with a beat, and now we have Tobias Freund to thank for a banging remix which adds one. It&rsquo;s propulsive enough to match the robotic dirge of the original but loose enough to retain that signature Cowley-funk. The flip is a fitting partner from Half Hawaii--Bruno Pronsato & Sammy Dee--a slow-burning dreamy drone of a tune that feels as much modern Pronsato as it does early 80s NYC.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3675443/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=4078755042/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://soundcloud.com/leafcutterjohn/sets/yes-come-parade-with-us-2">
          <img src="./_images/yes.jpg" alt="Cover artwork of Yes! Come Parade With Us by Leafcutter John">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://soundcloud.com/leafcutterjohn/sets/yes-come-parade-with-us-2">Leafcutter John<br><em>Yes! Come Parade With Us</em></a>
        </h3>
        <p class="meta">Border Community 2019</p>
      </div>
    </div>

    <p>Leafcutter John&rsquo;s new album is so Border Community it hurts. In a good way, of course. An invigorating collection of upbeat electronics and field recordings, all shining and full of nature. John&rsquo;s modular twinkles are buoyed by Tom Skinner and Sebastian Rochford, who both provide live drums that propel the compositions upwards and onwards.</p>

    <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/604933830&color=%233464b8&inverse=true&auto_play=false&show_user=false"></iframe>

  </section>

  <section>
    <div class="release-deets">
      <div class="img">
        <a href="https://sarinaleah.bandcamp.com/track/magical-traveller">
          <img src="./_images/magical.jpg" alt="Cover artwork of Magical Traveller by Sarina Leah">
        </a>
      </div>

      <div class="info">
        <h3>
          <a href="https://sarinaleah.bandcamp.com/track/magical-traveller">Sarina Leah<br><em>Magical Traveller</em></a>
        </h3>
      </div>
    </div>

    <p>This is really charming. I&rsquo;m watching Lau plant herbs in the garden and it all fits, a sense of all-connected, but distant, mysticism. It has some of that afrofuturist paradox about it; a tribal Earth contact with a simultaneous cosmic detachment. Can&rsquo;t wait to hear more from Sarina.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=3919989924/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/transparent=true/" seamless></iframe>
  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://banabila.bandcamp.com/album/uprooted">
          <img src="./_images/uprooted.jpg" alt="Cover artwork of Uprooted by Michel Banabila">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://banabila.bandcamp.com/album/uprooted">Michel Banabila<br><em>Uprooted</em></a>
        </h3>
      </div>
    </div>

    <p>Prolific composer Michel Banabila offers an elegant slice of modern classical with an Eastern vibe, epic and operatic. It&rsquo;s stirring and floaty and gorgeous, mixing real world instruments with electronic ones seamlessly. Headphones and horizontal is highly recommended for this one.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=38921468/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=4262213841/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://ecstaticrecordings.bandcamp.com/album/forma">
          <img src="./_images/forma.jpg" alt="Cover artwork of Forma / Ήθος by Not Glass">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://ecstaticrecordings.bandcamp.com/album/forma">Not Glass<br><em>Forma / Ήθος</em></a>
        </h3>
        <p class="meta">Ecstatic 2019</p>
      </div>
    </div>

    <p><em>&ldquo;Not Glass is the wonderfully lofty, classically-rooted debut collaboration between Alessio Natalizia (Not Waving) and his longtime correspondent Dimitris Papadatos (Jay Glass Dubs), paying tribute to Latin and Greek authors Ovid and Heraclitus in a suite of dramatic electronics and cryptic rhythms comparable to a theatrical soundtrack.&rdquo;</em> This is enveloping, magnetic music. It shifts around and takes new forms before your ears. You know it&rsquo;s changing but you can&rsquo;t hear exactly how. Really cool.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2788264548/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=156089602/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://homeassemblymusic.bandcamp.com/album/a-mobtown-suite-vol-ii">
          <img src="./_images/mobtown.jpg" alt="Cover artwork of A Mobtown Suite Vol. II by Mahatma X">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://homeassemblymusic.bandcamp.com/album/a-mobtown-suite-vol-ii">Mahatma X<br><em>A Mobtown Suite Vol. II</em></a>
        </h3>
        <p class="meta">Home Assembly Music 2019</p>
      </div>
    </div>

    <p>Home Assembly Music releases another potential End of Year Fave and an excellent sequel to <a href="https://homeassemblymusic.bandcamp.com/album/a-mobtown-suite-vol-1">Volume 1</a>. This is amazing! 90s-era collage hiphop, dusty and innovative and full of twists and turns. The soulful, funky, evocative instrumentals have me feeling maudlin one moment, furiously nodding my head the next. The quality of the production is fantastic. Turn it up.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2655883900/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2815667237/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://deathandvanillamusic.bandcamp.com/album/are-you-a-dreamer">
          <img src="./_images/dreamer.jpg" alt="Cover artwork of Are You A Dreamer? by Death &amp; Vanilla">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://deathandvanillamusic.bandcamp.com/album/are-you-a-dreamer">Death &amp; Vanilla<br><em>Are You A Dreamer?</em></a>
        </h3>
        <p class="meta">Fire Records 2019</p>
      </div>
    </div>

    <p>These Swedish dreamers are back with another retro-synth-pop-psych record in the vein of Broadcast or the Cocteau Twins and of course it&rsquo;s its own thing too but I&rsquo;m getting to the bottom of this list and I can see light at the end of the tunnel. Laziness prevails. The way those vibraphone-organ-mellotron-guitar-and-whatever instruments assimilate and twist around one another is just delightful. You should catch them live if you can, great band.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2042391048/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://studiobarnhus.bandcamp.com/album/belter-incl-joy-o-remix">
          <img src="./_images/belter.jpg" alt="Cover artwork of Belter by Off The Meds">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://studiobarnhus.bandcamp.com/album/belter-incl-joy-o-remix">Off The Meds<br><em>Belter</em></a>
        </h3>
        <p class="meta">Studio Barnhus 2019</p>
      </div>
    </div>

    <p>Staying in Sweden, the ever-colourful Studio Barnhus drops this appropriately-titled nugget. You know the drill: passive South African vocals drift over nu-rave layers of course breaks and a relentless bass throb. Ooh yeah. There&rsquo;s a good deal about this that floats my boat. It&rsquo;s good to see a few more acapellas on dance 12s recently, letting us lowly bedroom DJs keep that vocal going deep into the mix at 4am. Joy Orbison is of course, always, a good choice for a remix. He transforms it into a long trip of perilous dub techno.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3650508286/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=2271483001/transparent=true/" seamless></iframe>

  </section>

  <section>

   <div class="release-deets">
      <div class="img">
        <a href="https://samiyenigun.bandcamp.com/album/bright-blue">
          <img src="./_images/sami.jpg" alt="Cover artwork of Bright Blue by Sami">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://samiyenigun.bandcamp.com/album/bright-blue">Sami<br><em>Bright Blue</em></a>
        </h3>
        <p class="meta">1432 R 2019</p>
      </div>
    </div>

    <p>Let&rsquo;s get squelchy with our penultimate recommendation of the season. Future Times friend Sami brings some funky acid wobble to our dreary shores. Cute percussion picks out sharp rhythms from a dreamy cosmic haze. It&rsquo;s fun.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3259494308/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=536616569/transparent=true/" seamless></iframe>

  </section>

  <section>

    <div class="release-deets">
      <div class="img">
        <a href="https://rufdug.bandcamp.com/album/ruf-dug-presents-the-committee">
          <img src="./_images/committee.jpg" alt="Cover artwork of Ruf Dug presents The Committee">
        </a>
      </div>
      <div class="info">
        <h3>
          <a href="https://rufdug.bandcamp.com/album/ruf-dug-presents-the-committee">Ruf Dug presents The Committee</a>
        </h3>
        <p class="meta">Rhythm Section 2019</p>
      </div>
    </div>

    <p>Ruf Dug instigates a really strong LDNxMCR collaboration to finish us off for the issue. This is some dead nice neo soul for walking around your favourite city streets. Give it some sass/swagger. Infectious grooves that invoke that classic British soul sound, a bit of Chicago house and some upbeat dancehall vibes. With a different vocalist on each track, it really feels like a family record. It&rsquo;s nice to see our first and second cities getting on so well.</p>

    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1151791255/size=small/bgcol=333333/linkcol=FFFFFF/artwork=none/track=1548187458/transparent=true/" seamless></iframe>
  </section>

  <section>
    <h2>Moreover...</h2>

    <ul>
      <li><a href="https://soundcloud.com/kelseylu/sets/blood-84">Kelsey Lu and her cello</a> are stitching my brain back together after a tough depression-week</li>
      <li>Surely no one wants to steal <a href="https://ezracollective.bandcamp.com/album/you-cant-steal-my-joy-2">Ezra Collective&rsquo;s joy</a></li>
      <li>Love it when you get into a band just in time for their new record. Riding that <a href="https://altingun.bandcamp.com/album/gece">Altin G&uuml;n</a> wave</li>
      <li><a href="https://nimbuswest.bandcamp.com/album/live-at-i-u-c-c">Live At I​.​U​.​C​.​C. by Pan-Afrikan Peoples Arkestra</a>. Next level</li>
      <li>Gorgeous Pacific-Canadian vibes on <a href="https://heart.bandcamp.com/album/beautiful-you">Khotin&rsquo;s new one</a></li>
      <li><a href="https://www.interviewmagazine.com/culture/the-people-vs-bret-easton-ellis">Eli Roth chatted to his pal Bret Easton Ellis</a> for our amusement</li>
      <li>Listening to <a href="https://www.youtube.com/watch?v=QRx-YdqHLus">Suzanna Ciani talk about her music</a> is almost as lovely as her music itself</li>
      <li><a href="https://leeperry.bandcamp.com/album/rainford">Lee Scratch Perry&rsquo;s new LP</a> is his best in years. Produced and released by Adrian Sherwood, here&rsquo;s the <a href="https://thevinylfactory.com/features/lee-scratch-perry-adrian-sherwood-rainford-interview/">two legends interviewed</a></li>
      <li>Northern soul and gabber <a href="https://www.residentadvisor.net/features/3464">together at last</a></li>
    </ul>

    <p>Jeez Louise, that was a long one. Hope y&rsquo;all dig it x</p>
  </section>
</article>

<div class="cover drei"></div>
