/* ZINE April & May 2019 */

@font-face {
  font-family: 'spacemono';
  font-weight: normal;
  src: url('/_assets/fonts/spacemono-regs.ttf') format('truetype');
}

@font-face {
  font-family: 'spacemono';
  font-weight: bold;
  src: url('/_assets/fonts/spacemono-bold.ttf') format('truetype');
}

body {
  background-color: #222;
  border-color: #000;
  color: #ddd;
}

a {
  color: #49ffe3;
}

a:hover,
a:focus,
a:active {
  color: #f0f;
}

::selection {
  background: #f0f;
}

h1 {
  color: #49ffe3;
  font-family: spacemono, monospace;
}

.cover {
  background-position: center center;
  background-size: cover;
  height: 65vh;
}

.cover img {
  display: none;
}

.cover.eins {
  background-image: url('./_images/wait1-mob.gif');
}

.cover.zwei {
  background-image: url('./_images/wait2-mob.gif');
}

.cover.drei {
  background-image: url('./_images/wait3-mob.gif');
}

@media only screen and (min-width: 900px) {
  .cover.eins {
    background-image: url('./_images/wait1.gif');
  }

  .cover.zwei {
    background-image: url('./_images/wait2.gif');
  }

  .cover.drei {
    background-image: url('./_images/wait3.gif');
  }
}
