---
description: I once loved a good burger. I lived in London during the Burger-craze years. Here is an old guide to old London burgers
title: London Burgerz
---

<h1>I once loved a good burger</h1>

<p>I lived in London during the Burger-craze years<br>
Match in heaven<br>
I had a manifesto:</p>

<ul>
    <li>My burger standards are NYC-rooted</li>
    <li>I don&rsquo;t like fancy places</li>
    <li>I don&rsquo;t like places that are too american. If I want an American experience, I&rsquo;ll go to America</li>
    <li>The scores are based on food and experience</li>
    <li>These are my scores</li>
    <li>You may use them to make a burger decision</li>
    <li>There's nothing wrong with a Big Mac</li>
    <li>There's a lot wrong with tomato in a burger</li>
    <li>Burgers should drip as you eat them</li>
    <li>Burgers made from vegetables or cheese are merely sandwiches</li>
    <li>Beer is a burger&rsquo;s best friend</li>
    <li>Don&rsquo;t let people look down on you if you eat more than one burger</li>
    <li>Enjoy your burgers x</li>
</ul>

<p>I no longer live in London<br>
I tend not to eat mammals<br>
I enjoyed ranking things<br>
Multiple visits to each place added weight to the scores<br>
Not even sure if they exist anymore<br>
We all eat soy now</p>

<ol>
	<li>Dip &amp; flip 9.5</li>
	<li>Mother Flipper 9</li>
	<li>Burger Bear 8.7</li>
	<li>Patty &amp; Bun 8</li>
	<li>Hawksmoor 8</li>
	<li>Lucky chip 8</li>
	<li>Dirty Burger 7.3</li>
	<li>Meat Market 7</li>
	<li>Bleecker St Burger 7</li>
	<li>Burger &amp; Shake 7</li>
	<li>Burger &amp; Lobster 7</li>
	<li>Burger Craft 6.5</li>
	<li>Bukowski Grill 6.5</li>
	<li>Honest Burger 6.25</li>
	<li>Chosen Bun 6</li>
	<li>Hach&eacute; 5.5</li>
</ol>

<p>futura bold, peace out. <a href="/">we out here now</a></p>
