/** INDEX

this needs a bunch of old code putting in a new place

a lot of it is from an early prototype

 **/

@font-face {
  font-family: "hknova-bold";
  src: url("../fonts/HKNova-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background: #fff;
  color: #222;
  font-family: "Andale Mono", monospace;
  font-size: 16px;
  line-height: 23px;
}

::selection {
  background: #fc70df;
}

.hide {
  display: none;
  background: red;
}

/* fonts */
.uppercase {
  text-transform: uppercase;
}

form {
  max-width: 40em;
}
form .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
input {
  font-size: 16px;
  line-height: 22px;
  padding: 1em;
  text-align: center;
  border: 2px solid #222;
}
input.text:focus {
  background: yellow;
  outline: 0;
}
input.submit {
  background: #222;
  border-color: #222;
  color: #ccc;
  cursor: pointer;
}
input.submit:hover {
  color: yellow;
}

a {
}
a:hover,
a:focus,
a:active {
  background: yellow;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

p {
  max-width: 40em;
  margin-bottom: 1em;
}
ul {
  list-style: square;
  margin-bottom: 1em;
}

b {
  font-family: courier;
  background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-weight: bold;
  font-size: 3em;
  line-height: 1.2em;
  font-family: sans-serif;
}
h2 {
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom: 0.3em;
}

img {
  max-width: 100%;
  display: block;
}

/* CATALOG */
.catalog {
  background-size: stretch;
  color: #fff;
}

.catalog header {
  position: fixed;
  width: 100%;
  padding: 2em 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
}
.catalog h1 {
  width: 96px;
  height: 96px;
  background: url(../images/catalog/pushkins.gif) no-repeat 0 0;
  background-size: 100% 100%;
  font-size: 1rem;
  text-indent: -999em;
  position: absolute;
  right: 15px;
  bottom: 65px;
}
@media only screen and (min-width: 800px) {
  .catalog h1 {
    width: 108px;
    height: 108px;
    right: 30px;
    bottom: 4.5em;
  }
}

/* Welcome */
.welcome {
  padding-left: 1.2em;
}
.welcome p {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
.welcome p span {
  display: none; /* mobile hide */
}
@media only screen and (max-width: 800px) {
  .welcome p {
    animation: typing 3s steps(28, end);
  }
}
@media only screen and (min-width: 800px) {
  .welcome {
    padding-left: 3em;
  }
  .welcome p {
    animation: typing 5s steps(53, end);
  }
  .welcome p span {
    display: inline;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.catalog_listing {
  font-family: "hknova-bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  list-style: none;
  z-index: 1;
  position: relative;
  padding: 5% 0;
  margin: 0;
}

.catalog_listing li {
  margin: 0 0 0.5em 0;
}

.catalog_listing a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.8em 1em;
  padding-left: 4em;
  position: relative;
  z-index: 0;
}
.catalog_listing a:hover,
.catalog_listing a:focus,
.catalog_listing a:active {
  background: transparent;
}
.catalog_listing a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.2s ease-out;
}
.catalog_listing a:hover:before,
.catalog_listing a:focus:before,
.catalog_listing a:active:before {
  transform: scaleX(1);
}
.catalog_listing_lime a:before {
  background-color: #80ff78;
}
.catalog_listing_pink a:before {
  background-color: #ff78d4;
}
.catalog_listing_pink_two a:before {
  background-color: #ff289f;
}

.catalog_listing span {
  display: block;
}
.catalog_listing span.number {
  font-family: "Courier", monospace;
  width: 4em;
  margin-left: -4em;
  float: left;
  text-align: center;
}

/* BACKGROUND CHANNEL */
.background {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.grogdance {
  background: navy;
}

.hegoes {
  background: url("../images/catalog/grogdance.gif");
  background-size: 160px;
  height: 100%;
  width: 4800px;
  position: absolute;
  top: 0;
}
.left {
  animation: slideleft 12s linear infinite;
  left: 0;
}
.right {
  animation: slideright 12s linear infinite;
  right: 0;
  background-position-y: 80px;
}
@keyframes slideleft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2400px, 0, 0);
  }
}
@keyframes slideright {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(2400px, 0, 0);
  }
}

.disk {
  background:#793a80 url(../images/loading-ad.gif) no-repeat top right;
}

@media only screen and (min-width: 800px) {
  .catalog h1 {
    right: 60px;
  }

  .catalog_listing li {
    margin: 0;
  }
  .catalog_listing a {
    padding:0.6em 1em 0.6em 7em;
    display: inline-block;
  }
  .catalog_listing span {
    margin: 0;
  }
  .catalog_listing span.number {
    width: 7em;
    margin-left: -7em;
  }

  .hegoes {
    background-size: 240px;
  }
  .right {
    background-position-y: 120px;
  }

  .disk {
    background-image:url(../images/loading-disk.gif);
    background-size:50vw;
    background-position:center right;
  }

  .welcome p span {
    display: inline;
  }
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 17px;
    line-height: 25px;
  }

  form {
    font-weight: bold;
    max-width: 40em;
  }
  form .flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  form .flex .text {
    flex-grow: 1;
    text-align: left;
  }

  .content,
  footer {
    padding: 2em;
  }

  .release-deets {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .release-deets .img {
    max-width: 10em;
  }
  .release-deets img {
    margin: 0;
  }
  .release-deets .info {
    padding-left: 1em;
  }
  .release-deets p {
    color: #999;
    margin: 0;
  }
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 18px;
    line-height: 27px;
  }
  article {
    position: relative;
    overflow: hidden;
  }

  .wheniz {
    padding-left: 5%;
  }

  .content,
  footer {
    position: relative;
    padding: 2.5% 5%;
  }

  .release-deets .info {
    padding-left: 2em;
  }

  .art {
    height: auto;
    margin: 2em 0;
  }
  .art img {
    height: auto;
    position: static;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 18px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1100px) {
  body {
    font-size: 19px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 29px;
  }
}
@media only screen and (min-width: 1300px) {
  body {
    font-size: 21px;
    line-height: 31px;
  }
}
