@font-face {
  font-family: "dos";
  src: url("../fonts/dos.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background: #000;
  color: #999;
  font-family: "dos", monospace;
  font-size: 20px;
  margin: 1rem 0;
  font-smooth:never;
  margin-top:10rem;
}
a {
  color:pink;
}
a:hover,
a:focus {
  color:white;
}
h1 {
  font-size:3.4rem;
  text-align:right;
  position:fixed;
  top:1rem;
  right:4%;
  color:#fff;
  z-index:3;
  text-shadow:0.3rem 0.3rem 0 #000;
}
article {
  background:#000;
  z-index:2;
  position:relative;
}
.mural {
  background-origin: 5px red yellow;
  overflow-x: scroll;
  position: relative;
}
img {
  max-height: 60vh;
  margin: 0 5%;
}
.info {
  margin: 20px 5% 3em 5%;
}

@media only screen and (min-width: 500px) {
  body {
    font-size:30px;
    margin-top:12rem;
  }
  h1 {
    font-size:5rem;
  }
  img {
    max-height: 80vh;
  }
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size:8rem;
  }
}