@font-face {
  font-family: "spacemono";
  src: url("../fonts/spacemono-regs.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "spacemono";
  src: url("../fonts/spacemono-bold.ttf") format("truetype");
  font-weight: bold;
}

body {
	background:#CED7D4;
	color:#222;
	font-family:"Aktiv Grotesk Corp",Helvetica,sans-serif;
	font-size:16px;
	line-height:1.5;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

::selection {
	background:#FC70DF;
}

.hide {
	display:none;
	background:red;
}

/* fonts */
.didotbold {
	font-family:"HoeflerText-Black",serif;
}
.uppercase {
	text-transform: uppercase;
}

form {
	max-width:40em;
}
form .flex {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column
}
input {
	font-size:16px;
	line-height:22px;
	padding:1em;
	text-align:center;
	border:2px solid #222;
}
input.text:focus {
	background:yellow;
	outline:0;
}
input.submit {
	background:#222;
	border-color:#222;
	color:#ccc;
	cursor:pointer;
}
input.submit:hover {
	color:yellow;
}

a {

}
a:hover,
a:focus,
a:active {
	
}

strong {
	font-weight:bold;
}
em {
	font-style:italic;
}

p {
	max-width:40em;
	margin-bottom:1em;
}
ul {
	list-style:square;
	margin-bottom:1em;
}

b {
	font-family:courier;
	background:yellow;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
}
h1 {
	font-size:5em;
	line-height:1.2em;
}
h2 {
	font-size:2em;
	line-height:1.4em;
	margin-bottom:0.3em
}

img {
	max-width:100%;
	display:block;
}

header {
	z-index:3;
	height:35vh;
	display:flex;
	flex-direction: row;
}
header h1 {
	font-size:139px;
	font-size:20vw;
	font-size:12vh;
	margin-left:10%;
	align-self:flex-end;
}
.cover {
	height:65vh;
	background-size:cover;
	background-position:center center;
}
.cover img {
	display:none;	
}

.home,
.date {
	position:fixed;
	top:2vw;
	z-index:10;
}

.home {
	left:3vw;
}
.date {
	right:3vw;
}

article {
}

.wheniz {
	font-weight:bold;
	padding:0 0 15px 15px;
	text-transform: lowercase;
	font-family:"PTMono-Bold",monospace;
}

section {
	padding:20px;
	z-index:2;
}

.release-deets {
	font-size:1.2em;
	margin-bottom:1em;
	line-height:1.5em;
}
.release-deets img {
	margin-bottom:1em;
}
.release-deets p {
	opacity:0.5;
}

.links {
	border:1px solid #222;
	max-width:40em;
	margin:1.5em 0 0.5em 0;
	display:flex;
	display:flex;
	flex-wrap: wrap;
	align-items: justify;
	font-weight:bold;
	list-style:none;
}
.links li {
	flex-grow:1;
}
.links li a {
	display:block;
	text-decoration:none;
	text-align: center;
	padding:1em;
	border:1px solid #222;
}


.art {
	height:100vh;
	overflow:hidden;
	position:relative;
}
.art img {
	height:100%;
	position:absolute;
	max-width:none;
}

.gallery {
	background:#222;
	height:auto;
	display:flex;
	overflow-x:scroll;
	padding:20px 10px;
}
.gallery img {
	margin:0 10px;
	height:auto;
	max-height:100%;
	position:static;
	max-width:100%;
}

footer {
	margin-top:2em;
	padding:1em;
	color:#ccc;
	background:#222;
}
footer a {
	color:#ccc;
}
footer a:focus,
footer a:hover {
	color:#fff;
	background:transparent;
}

/* MONTHS */
.feb19 {
	border:1.5vw solid #FF3079;
}
.feb19 header,
.feb19 h2
 {
	font-family: "spacemono",monospace;
	color:#FF3079;
}
.feb19 a {
	color:#FF3079;
}

.feb19 a:hover,
.feb19 a:focus,
.feb19 a:active {
	color:#000;
}



@media only screen and (min-width: 500px) {

	body {
		font-size:17px;
	}
	header h1 {
		font-size:16vh;
	}

	form {
		font-weight:bold;
		max-width:40em;
	}
	form .flex {
		display:flex;
		flex-wrap: nowrap;
		flex-direction:row;
	}
	form .flex .text {
		flex-grow:1;
		text-align:left;
	}

	section,
	footer {
		padding:2em;
	}

	.release-deets {
		display:flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.release-deets .img {
		max-width:10em;
		flex-shrink: 0;
	}
	.release-deets img {
		margin:0;
	}
	.release-deets .info {
		padding-left:1em;
	}
	.release-deets p {
		margin:0;
	}

}

@media only screen and (min-width: 800px) {
	body {
		font-size:18px;
	}
	header h1 {
		font-size:8em;
	}
	header {
		height:40vh;
	}
	.cover {
		height:100vh;
	}
	article {
		position:relative;
		margin:5% 0;
		overflow:hidden;
	}
	section {
		max-width:40em;
	}

	.wheniz {
		padding-left:5%;
	}

	section,
	footer {
		position:relative;
		padding:2.5% 5%;
	}

	.release-deets .info {
		padding-left:2em;
	}


	.art {
		height:auto;
		margin:2em 0;
	}
	.art img {
		height:auto;
		position:static;
	}

}


@media only screen and (min-width: 1000px) {
	body {
		font-size:18px;
	}
}
@media only screen and (min-width: 1100px) {
	body {
		font-size:19px;
	}
}
@media only screen and (min-width: 1200px) {
	body {
		font-size:20px;
	}
}
@media only screen and (min-width: 1300px) {
	body {
		font-size:21px;
	}
}
@media only screen and (min-width: 1400px) {
	body {
		font-size:22px;
	}
}
@media only screen and (min-width: 1500px) {
	body {
		font-size:23px;
	}
}
@media only screen and (min-width: 1600px) {
	body {
		font-size:24px;
	}
}
