---
layout: application
showHomeLink: false
styles: true
useFooter: true
useHeader: true
---
<main>
  {% homeFeature
      imageAlt='Graphic of neon text that reads "wait for it to kick in"',
      imageSrc='/zines/2019/may/cover.gif',
      intro="Once upon a time our editor went on holiday (love ya, Scotland) and forgot to write about music, so here we have our first BUMPER ZINE issue. It&rsquo;s like the regular edition but bigger and more rushed.",
      isBig=true,
      title='BUMPER ZINE April &amp; May 2019 issue',
      url='/zines/2019/may/'
  %}

  {% homeMix
      intro='A rare glimpse into the night-time activities of Nottingham&rsquo;s most elusive DJ',
      soundcloudUrl='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/611693841&color=%230cff00&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false',
      title='DJ Birkens Stock&rsquo;s Midnight Mischief',
      url='https://soundcloud.com/pushkinsprefers/dj-birkens-stocks-midnight-mischief'
  %}

  {% homeMix
      intro='Celebrating a life of colour, variety, style and hedonism, the Closet Disco series continues in its usual uplifting style. Play it loud in your kitchens, cars, on your commute.',
      soundcloudUrl='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/611682519&color=%23ff00e3&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false',
      title='Der Shrankdisko Neun',
      url='https://soundcloud.com/pushkinsprefers/der-shrankdisko-neun'
  %}

  {% homeFeature
      imageAlt='Black and white photo of Patrick Young, Raconteur, deep in BBQ smoke',
      imageSrc='/zines/2019/mar/_images/pat.jpg',
      intro="Our March zine issue rounds up some of our favourite recent music. This one is for singular artists and wild mutations.",
      title='ZINE March 2019 issue',
      url='/zines/2019/mar/'
  %}

  {% homeMix
      intro='DJ Ball Haulage compiles a selection of his records to serve as an antidote to our confusing and concerning times.',
      soundcloudUrl='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/589482006&color=%239eb55d&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false',
      title='March mix: BREXIT BEATS',
      url='https://soundcloud.com/pushkinsprefers/dj-ball-haulage-presents-brexit-beats'
  %}

  {% homeFeature
      imageAlt='Artwork by Lily Wales, a collage showing a distorted face in lime green and bright pink',
      imageSrc='/zines/2019/feb/_images/lil.jpg',
      intro="The more batshit everything becomes, the more poignant and reflective music is. Terrifying and refreshing in equal measures. Larger musical appetites should be feeling pretty satisfied right now.",
      title='ZINE Febraury 2019 issue',
      url='/zines/2019/feb/'
  %}

  {% homeImg
      imageAlt='A photo of the band Amor, live in London',
      imageSrc='/amor/cover.png',
      title='AMOR live in London',
      url='/amor/'
  %}

  {% homeMix
      intro="January is a good time to heal, catch up on sleep and reset foundations for the year ahead. The music here varies in mood but all subscribes to that common theme. It's been curated to enjoy in armchairs, on beaches, alone with headphones.",
      soundcloudUrl='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/558376335&amp;color=%233ae39b&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=false',
      title='January mix: Soothe',
      url='https://soundcloud.com/pushkinsprefers/soothe'
  %}

  {% homeImg
      imageAlt='A drug-induced pixel mural, jazz and sex',
      imageSrc='/murals/cover.png',
      title='Collected murals',
      url='/murals/'
  %}

  {% homeMix
      intro='A netherzone trip of a mix from our resident DJ Ball Haulage, perfect for your slumberdance.',
      soundcloudUrl='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/446046966&color=%2352599c&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=false',
      title='Spacedubdanceonthebeach volume 1',
      url='https://soundcloud.com/pushkinsprefers/dj-ball-haulage-presents-spacedubdanceonthebeach-vol-1'
  %}
</main>
