---
description: BEHOLD! this heady selection of pixel-murals
title: Selected murals
---
<h1>Murals</h1>

<article>
  <section class="mural">
    <div class="img two">
      <img src="./_images/mural2.png" alt="A mural showing various views of a Planet called Portal, where the inhabitants use the gravitational loopholes inherent in the portals to acrobat and travel around their planet">
    </div>
  </section>

  <div class="info">
    Latrop Tenalp<br>
    <span class="decorate">////// //////</span></strong>
  </div>

  <section class="mural">
    <div class="img one">
      <img src="./_images/mural1.png" alt="A mural made on Joe's rug. Joe's rug is a magical place where the mind can wander and the body can freely automate">
    </div>
  </section>

  <div class="info">
    Joe's rug<br>
    <span class="decorate">===== ===</span></strong>
  </div>
</article>
