---
useFooter: true
useHeader: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../includes/shared/siteHead.njk' %}
  </head>

  <body>
    {% if useHeader %}
      {% include "shared/header.njk" %}
    {% endif %}

    <main>
      {{ content | safe }}
    </main>

    {% if useFooter %}
      {% include "shared/footer.njk" %}
    {% endif %}

    {% include '../includes/shared/siteFooter.njk' %}
  </body>
</html>



