---
layout: application
useFooter: false
useHeader: false
sectionStyles: zines
---
<header>
  <h1>Zine</h1>
  <time class="date" datetime="{{pageDate}}">{{pageDate | dateDisplay}}</time>
</header>

{{ content | safe }}
