---
layout: application
useFooter: false
useHeader: false
sectionStyles: zines/styles.css
---
<header>
  <h1>Zine</h1>
  <time class="date" datetime="{{pageDate}}">{{pageDate | dateDisplay}}</time>
</header>

<div class="cover" style="background-image:url(assets/images/zine/feb-19/lil.jpg)">
  <img src="assets/images/zine/feb-19/lil.jpg" alt="">
</div>

<article>
  {{ content | safe }}
</article>
