<footer>
  <p>We are looking for lovely people to help us out with this wee venture. Writers, designers, musicians, DJs, artists, photographers, illustrators, programmers. We&rsquo;re at <a href="mailto:pushkinsprefers@gmail.com">pushkinsprefers@gmail.com</a> if you fancy contributing.</p>
  <p>Love and bangers x</p>
</footer>
