<header>
  <div class="background grogdance">
    <div class="hegoes left"></div>
    <div class="hegoes right"></div>
  </div>

  <h1><span>Pushkins Prefers</span></h1>
</header>

<marquee>
  It&rsquo;s a zine that we are making.
  We have just discovered <a href="https://sarinaleah.bandcamp.com/">Sarina Leah</a>,
  what lovely music!</a> Have a lovely day x
</marquee>
